*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
dev/
libs/
official/
qihu/
src/androidTest/java/reed/flyingreed/MainActivityTest.kt
wandoujia/
xiaomi/
