<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="think.reed.refitshopmodule">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:name=".RefitShopApplication"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".controller.activity.WrapperActivity"
            android:label="@string/refitshop_wrapper"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>


</manifest>
